<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Better Reads</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
  </head>
  <body>
    <h1>Better Reads</h1>

    <p>Welcome to better reads. Login to continue.</p>

    <div>
      Login (GitHub): <a href="/oauth2/authorization/github">Click Here</a>
    </div>
  </body>
</html>
